/************page d'accueil**************/
body{
    background-image: url("../../public/images/alaska-68126_1920.jpg");
}
h1{
    padding-top: 50px;
}
.episode{
    width: 280px;
    height: 400px;
    border: 2px solid black;
    border-radius: 2px;
    margin: auto;
    background-color: ghostwhite;
}
.titreDuLivre{
    padding-top: 30px;
}
.auteur_couverture{
    padding-top: 180px;
}
/***************page d'identification de l'administrateur***************/
.boutonAccesWysiwyg{
    padding-top: 20px;
}
/******administratorHomeView.php**********/
.separationPostAdministrator{
    width: 55%;
    margin: auto;
    border:2px solid black;
}
.create{
    width: 99%;
    margin: auto;
}
/********page wysiwygInterface**********/
.titreWysiwyg{
    padding-top: 40px;
}
.separation{
    width: 400px;
    height: 3px;
    margin: auto;
    margin-top: 30px;
    background-color: black;
}
.update{
    width: 99%;
    margin: auto;
}
/***************page d'erreur*******************/
.errorMessage{
    padding-top: 40px;
}
/**************page de lecture d'un épisode : readEpisodeView.php****************/
.episode1andmore{
    height: 100%;
    border: 2px solid black;
    border-radius: 2px;
    background-color: ghostwhite;
}
.readEpisodePage{
    width: 100%;
}
/************page de lecture des épisodes tronqués : readEpisodeHomeView.php************/
.readEpisodesPage{
    width: 55%;
    margin: auto;
    background-color: rgba(255, 245, 238, 0.8);
}
.separationPost{
    width: 100%;
    margin: auto;
    border:2px solid black;
}